SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = 'adfcb141240655a7f1df49972c38ffe3'
API_SECRET = 'jDfByUXW5cm2HH6_6pRooDQe37t63r4t'
